<%= form_with model: @book, local: true do |form| %>

  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@book.errors.count, "error") %> prohibited
        this article from being saved:
      </h3>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% elsif @save_success === 'Y' %>
    <div id="success_explanation">
       <h3>Save Successful!</h3>
      </div>
    <% @save_success = '' %>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %> 
  </p>
  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
  </p>
  <p>
    <%= form.label :pagination %><br>
    <%= form.text_field :pagination %>
  </p>
  <p>
    <%= form.label :format %><br>
    <%= form.text_field :format %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>